[submodule "third_party/JsonUI"]
	path = third_party/JsonUI
	url = https://github.com/bclnet/JsonUI
	branch = master
[submodule "third_party/JsonScene"]
	path = third_party/JsonScene
	url = https://github.com/bclnet/JsonScene
	branch = master
[submodule "third_party/JsonMind"]
	path = third_party/JsonMind
	url = https://github.com/bclnet/JsonMind
	branch = master
[submodule "third_party/TokenX"]
	path = third_party/TokenX
	url = https://github.com/bclnet/TokenX
	branch = master
